.transhis-table-format{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0.15fr 0.3fr 0.2fr ;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 16px;
}

.transhis-title{
    display: grid;
    grid-template-columns:0.7fr  0.3fr ;
}

.filter-container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-container label{
    display: grid;
    grid-template-columns: 2fr ;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-container button{
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
}

h3{
    margin-bottom: 10px;
}
.transhis-table-format.title-transhis{
    background-color: #f9f9f9;
}