.order-item-container{
    display: flex;
    /* grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr; */
    flex-direction: column;
    align-items: start;
    gap: 5px;
    border: 1px solid #60402b;
    padding: 20px;
    margin: 10px 0px;
    font-size: 16px;
    color: #505050;
    
}
.order-item{
    display: grid;
    grid-template-columns:2fr 1fr;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 20px;
    width: 100%;
}
.order-header{
    display: flex;
    justify-content: space-between;
}
.order-item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-item-header strong{
    font-size: 18px;
}

.order-item-food {
    font-weight: 600;
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order-item-address{
    margin-bottom: 10px;
    font-weight: 600;
}
.order-item-address strong{
    font-size:18px;
}
.order-item-container button {
    border: 1px solid #60402b;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #fbe5d6;
    cursor: pointer;
    color: #454545;
    font-size: 16px;
    min-width: 150px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.order-item-container button:hover {
    background-color: #ffece0;
}

@media (max-width:1000px){
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr ;
        padding: 15px 10px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}